images/NoDetails/
otherplugins/
Blizzard_APIDocumentationGenerated/
.tmp.driveupload/
core/parser - FF.lua
core/parser_original.lua
core/windows - Copy.lua
functions/savedata - Copy.lua
*.psd
Libs/DF/all_addons.blp
Libs/DF/all_addons.tga
Libs/DF/background.blp
Libs/DF/border_1.blp
Libs/DF/border_2.blp
Libs/DF/border_3.blp
Libs/DF/cooltip_background.blp
Libs/DF/feedback_sites.blp
Libs/DF/icons.blp
Libs/DF/mail.blp
plugins/Details_EncounterDetails/images/boss_icons.png
locales/Details-zhTW.lua
locales/Details-zhCN.lua
locales/Details-ruRU.lua
locales/Details-ptBR.lua
locales/Details-koKR.lua
locales/Details-itIT.lua
locales/Details-frFR.lua
locales/Details-esMX.lua
locales/Details-esES.lua
locales/Details-enUS.lua
locales/Details-deDE.lua
Libs/LibTranslit/.pkgmeta
a.lua
functions/pack2.lua
*.json
*.afphoto
wowapi.lua
plugins/Details_TinyThreat/Details_TinyThreat_original.lua
Descriptions.lua
plugins/Details_EncounterDetails/.github/workflows/release.yml
plugins/Details_RaidCheck/.github/workflows/release.yml
plugins/Details_Streamer/.github/workflows/release.yml
plugins/Details_TinyThreat/.github/workflows/release.yml
plugins/Details_Vanguard/.github/workflows/release.yml
photoshop/ten_years_skin.tga
*.yml
plugins/Details_EncounterDetails/Libs/LibLuaServer/LuaServerDefinitions.lua
plugins/Details_EncounterDetails/Definitions.lua
*.afphoto~lock~
annotations.txt
plugins/Details_Compare2/Definitions.lua
plugins/Details_Compare2/DF/
plugins/Details_Compare2/LibLuaServer/
images/castlog_image.png
images/castlog_image2.png
images/castlog_image3.png
images/castlog_raidcooldowns.png
images/chartviewer.png
images/getalpha_version.png
images/icons2.png
images/myself.png
images/package_addons.png
images/patreon_stuff.png
images/plater_darktheme_skin.png
images/Tutorial/DetailsMainWindow.png
Details.cpp
images/DETAILS_NEWS.png
cpl.lua
