
core/parser - FF.lua
core/parser_original.lua
core/windows - Copy.lua
functions/savedata - Copy.lua
*.psd
Libs/DF/all_addons.blp
Libs/DF/all_addons.tga
Libs/DF/background.blp
Libs/DF/border_1.blp
Libs/DF/border_2.blp
Libs/DF/border_3.blp
Libs/DF/cooltip_background.blp
Libs/DF/feedback_sites.blp
Libs/DF/icons.blp
Libs/DF/mail.blp
plugins/Details_EncounterDetails/images/boss_icons.png
